.cmds{
    display: flex;
    flex-direction: column;
}

.cmd .bandeau{
    display: flex;
}

.cmd .bandeau .infos{
    display: flex;
    flex:1;
    justify-content: space-between;
}

.cmd{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #bcbdbd;
    box-shadow: 5px 5px 5px gray;
}

.cmd .bandeau .etat_cmd{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left:10px;
    padding-right: 10px;
    background-color: #bcbdbd;
}

.cmd .bandeau .nb_cmd{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
}

.contenu_cmd{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bcbdbd;
}

.cmd .contenu_cmd .heure_envoi{
    display: flex;
    align-content: center;
    margin: 2px;
    float: right;
}

.cmd .contenu_cmd .heure_reception{
    display: flex;
    align-content: center;
    margin: 2px;
    float: right;
}

.cmd .contenu_cmd div{
    display: flex;
    justify-content: center;
    float: left;
}

.cmd .contenu_cmd .donnee{
    display: flex;
    flex-direction: column;
}

.contenu_cmd td{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 40px;
}

.contenu_cmd th{
    text-align: center;
    width: 40px;
}

.cmd .contenu_cmd .lot{
    display: flex;
    flex-direction: column;
}