#shadowBack{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 10px;
    color : #333;
    z-index: 9;
}

.popup.addCmd{
    display:none;
    width: 550px;
    padding-top: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}

.popup.addCmd .content{
    width: 100%;
    margin: auto;
}

.popup.addCmd h4{
    padding: 0px 0px 10px;
    font-size: 22px;
}

.popup.addCmd .form-group
{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.popup.addCmd label{
    display: inline-block;
    vertical-align: middle;
}

.popup.addCmd input,select
{
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.popup.addCmd input[type="number"]
{
    width:50px;
}


.popup.addCmd legend
{
    text-align:left;
}
