{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="../static/agilean_cmd.css" type="text/css" >
{% endblock %}

{% block content %}
    <form>
        <h1 class="title">Nouvelle Commande de kit</h1>
        <div class="cmd_kit">
            <div class="menu-deroulant">
                <h2>Nombre de :</h2>
                <div class="kit">
                    <label for="kit">kit 1</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
                <div class="kit">
                    <label for="kit">kit 2</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
                <div class="kit">
                    <label for="kit">kit 3</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
                <div class="kit">
                    <label for="kit">kit 4</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
                <div class="kit">
                    <label for="kit">kit 5</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
                <div class="kit">
                    <label for="kit">kit 6</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
                <div class="kit">
                    <label for="kit">kit 7</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
                <div class="kit">
                    <label for="kit">kit 8</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
                <div class="kit">
                    <label for="kit">kit 9</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
                <div class="kit">
                    <label for="kit">kit 10</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
                <div class="kit">
                    <label for="kit">kit 11</label>
                    <input type="number" id="name" name="name" required
                           minlength="0" maxlength="2" size="2">
                </div>
            </div>
            <button name="valide" type="button">VALIDE</button>
        </div>
    </form>
{% endblock %}

{% block script %}

{% endblock %}