{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="../static/agilean_suivi.css" type="text/css" >
{% endblock %}

{% block content %}
<h1 class="title">Suivi commandes</h1>
<div class="cmds">
<div class="cmd">
    <div class="bandeau">
        <div class="infos">
            <p class="nb_cmd">Commande n°1</p>
            <p class="etat_cmd">Envoyée</p>
        </div>
        <i class="ti ti-arrow-badge-down"></i>
    </div>
    <div id="contenu_cmd" class="contenu_cmd">
        <div class="lot">
            <div>
                <p class="nb_kit">1</p>
                <p class="kit">kit 1</p>
            </div>
            <div>
                <p class="nb_kit">6</p>
                <p class="kit">kit 2</p>
            </div>
        </div>
        <div class="donnee">
            <p class="heure_envoi">Heure d'envoi : 55 119</p>
            <p class="heure_reception">Heure de réception : kin 221</p>
            <button type="button" id="recu" name="recu" class="reponse" onclick="changestyle(recu)">Reçu</button>
            <button type="button" id="pb" name="pb" class="reponse" style="display: none" onclick="changestyle()">Signaler un problème</button>
        </div>
    </div>
</div>
</div>
</body>
</html>

{% endblock %}

{% block script %}

<script>
    function changestyle(obj){
        d = document.getElementById(obj).style.display
        if (d=="none"){
            d = "block";
           }
        else {
            d = "none";
            }
    document.getElementById(obj).style.display = d;
    }

    function assign(obj){
        if (obj=="recu"){
            changestyle("recu")
            changestyle("pb")
        }
        if (obj=="pb"){
            changestyle("contenu_cmd")
        }
    }
</script>

{% endblock %}