{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block content %}
    <h1>Admin</h1>
    <div>
        <h2>Timer</h2>
        {% if started %}
            <a href="{{url_for('pause_timer')}}">Pause timer</a>
        {% else %}
            <a href="{{url_for('start_timer')}}">Start timer</a>
            <a href="{{url_for('reset_timer')}}">Reset timer</a>
        {% endif %}
        <span>Timer : {{elapsed_time}}</span>
        <h2>BDD</h2>
        <a href="{{url_for('copy_prefilled_bdd')}}">Charger la BDD pré-remplie</a>
        <a href="{{url_for('copy_empty_bdd')}}">Charger la BDD vide</a>
        <br>
        <a href="{{url_for('init_stock')}}">Initialisation stock à 100</a>
    </div>
{% endblock %}

{% block script %}

{% endblock %}
```
