{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="../static/stock_agilog.css" type="text/css" >
{% endblock %}

{% block content %}
    <p>
    <h1>Agilog</h1>
    <h2>Stock de pièce</h2>

    <table>
        <tr>
            <th>Statistique</th>
            <th>CmdKit</th>
            <th></th>
            <th>CmdPièce</th>
        </tr>
        <tr>
            {% for ligne in StatKit %}
                {% for row in StatPiece %}
                    <tr>
                        <td>{{ ligne[0] }}</td>
                        <td></td>
                        <td>{{ row[0] }}</td>
                    </tr>
                    <tr>
                        <td>{{ ligne[1] }}</td>
                        <td></td>
                        <td>{{ row[1] }}</td>
                    </tr>
                    <tr>
                        <td>{{ ligne[2] }}</td>
                        <td></td>
                        <td>{{ row[2] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tr>
    </table>


    </p>
{% endblock %}

